*{
    font-family: 'Playfair Display', serif;
}

header {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #42ff03;
    border-bottom: black solid;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#forcast {
    display: flex;
    flex-direction: row;
}

#location {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    max-width: 25%;
    height: 30px;
    border: solid black;
}